
.vs/Krypto_Example_ITS_Hiesmair_Buchner/v15/.suo
.vs/Krypto_Example_ITS_Hiesmair_Buchner/v15/.suo
Krypto_Example_ITS_Hiesmair_Buchner/bin/Debug/Krypto_Example_ITS_Hiesmair_Buchner.exe
Krypto_Example_ITS_Hiesmair_Buchner/bin/Debug/Krypto_Example_ITS_Hiesmair_Buchner.exe.config
Krypto_Example_ITS_Hiesmair_Buchner/bin/Debug/Krypto_Example_ITS_Hiesmair_Buchner.pdb
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.csproj.FileListAbsolute.txt
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.csprojResolveAssemblyReference.cache
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Krypto_Example_ITS_Hiesmair_Buchner/v15/.suo
*.Cache
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.FormMain.resources
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.Properties.Resources.resources
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.exe
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/Krypto_Example_ITS_Hiesmair_Buchner.pdb
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
.vs/Krypto_Example_ITS_Hiesmair_Buchner/v15/.suo
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Krypto_Example_ITS_Hiesmair_Buchner/v15/.suo
Krypto_Example_ITS_Hiesmair_Buchner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
